.post-image {
  display: block;
  margin: 1rem auto;
  width: 200px;
  height: 200px;
}

.btn-default{

}

.btn-default .pick-image-file-text {
  visibility: hidden;
  width: 120px;
  /*background-color: #ff4081;*/
  /*color: #fff;*/
  color: #ff4081;
  text-align: center;
  padding: 2px 0;
  border-radius: 5px;

  position: static;
  z-index: 1;
}
.btn-default:hover .pick-image-file-text{
  visibility: visible;
}
.email-checkbox{
  margin-right: 15px;
}






