.welcome-page {
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;

}

#front-wheel,
#rear-wheel {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}


@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#man {
  animation: man-on-bike 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#hat {
  animation: hat 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes man-on-bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}

@keyframes hat {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(10%) rotateZ(5deg);
  }
}


.signin-link {
  margin: 20px;
}


.signup-link {
  margin: 20px;
}
