.user-profile {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  padding-top: 3rem;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
