<div *ngIf="isUserDataLoaded" class="user-profile">

  <h1>Profile</h1>
  <div style="text-align: right">
    <button mat-flat-button color="accent" (click)="openEditDialog()">Edit Info</button>
  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col">
      <img class="profile-image" [src]="previewImageUrl || formatImage(userProfileImage) || '/assets/images/surfer.jpg'" alt="user image">

      <input type="file"
             style="display: none"
             #fileInput
             (change)="onFileSelected($event)">

      <button mat-button (click)="fileInput.click()">Pick File</button>
      <button mat-button *ngIf="selectedFile" (click)="onUpload()">Upload</button>
    </div>
    <div class="col" style="text-align: left">

      <h2>{{user.userName}}</h2>

      <h3 style="font-style: italic">{{user.firstName}} {{user.lastName}}</h3>
      <p>{{user.bio}}</p>
    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <router-outlet></router-outlet>

  </div>

</div>

