<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="drawer-container">

    <h4></h4>
    <mat-form-field appearance="standard">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="category" name="selected-category">
        <mat-option *ngFor="let cat of categories" [value]="cat.viewValue" (click)="showByCategory(cat.viewValue)">
          {{cat.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-drawer>
  <mat-drawer-content>

    <div *ngIf="isPostsLoaded && isUserDataLoaded" class="index-page">
      <mat-card class="post-card" *ngFor="let post of posts | slice: lowValue : highValue; let i = index">
        <mat-card-header style="text-align: left">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>{{post.location}} |
            <div *ngIf="post.status == 'ON SALE'; then onSale; else soldOut;"></div> |
            {{post.price}} EUR
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="formatImage(post.image) || 'assets/images/surfboards.jpg'" alt="post image">
        <mat-card-subtitle align="start">Posted by {{post.userName}} on {{post.createdDate}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{post.caption}}</p>

          <ng-template #showMail><span style="color: #4051b6">{{post.email}}</span></ng-template>
          <ng-template #hideMail></ng-template>


          <div *ngIf="post.showMail; then showMail; else hideMail;"></div>

          <ng-template #showPhoneAndPipe> | <span style="color: #4051b6">{{post.phone}}</span></ng-template>
          <ng-template #showPhone><span style="color: #4051b6">{{post.phone}}</span></ng-template>
          <ng-template #hidePhone></ng-template>
          <div *ngIf="post.showPhone && !post.showMail; then showPhone; else hidePhone;"></div>
          <div *ngIf="post.showPhone && post.showMail; then showPhoneAndPipe; else hidePhone;"></div>

        </mat-card-content>

        <mat-card-actions align="start">

          <button *ngIf="isUserDataLoaded" mat-button (click)="likePost(post.id, i)"
                  [ngClass]="post.userLiked.indexOf(user.userName) !== -1 ? 'is-liked' : 'not-liked'">
            <mat-icon>favorite</mat-icon>
            Like
          </button>
        </mat-card-actions>

        <div style="text-align: left">
          <p *ngFor="let comment of post.comments"><span
            style="font-weight: 500">{{comment.userName}}</span>: {{comment.message}}</p>
        </div>

        <mat-form-field class="w-100">
          <mat-label>Leave a comment...</mat-label>
          <input (keyup.enter)="postComment($event.target.value, post.id, i)" matInput #message maxlength="128">
          <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
        </mat-form-field>

      </mat-card>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

<mat-paginator class="my-paginator" [length]="posts.length" [pageSize]="pageSize"
               (page)="pageEvent = getPaginatorData($event)">
</mat-paginator>




<ng-template #onSale><span style="color: limegreen">ON SALE</span></ng-template>
<ng-template #soldOut><span style="color: red">SOLD OUT</span></ng-template>

